In [2]:
#lists
#a list contains a sequence of values in square brackets[]
#each value can be a float, int, string or variable 
#each value that is listed is called an element
#lists can contain: nested lists, tuples, dictionaries, and much more. 

#mutable - changable
#elements in a list and dictionaries are mutable.
#elements in a tuple or 'string' are not mutable. 

num = [10, 20, 30]
num[0] = "hello"
print(num)

#range
#range generates a specified list of numbers 
#used with loops

['hello', 20, 30]

In [8]:
#note that range goes up to but doesn't include the upper number i.e. 10
list(range(0, 22, 2))
list(range(-50, 60, 10))

[-50, -40, -30, -20, -10, 0, 10, 20, 30, 40, 50]

In [12]:
nest = [[1, 2, 3], [4, 5, 6]]
print(nest[0])
new = [list(range(5)), list(range(5, 10))]
print(nest + new)

[1, 2, 3]
[[1, 2, 3], [4, 5, 6], [0, 1, 2, 3, 4], [5, 6, 7, 8, 9]]

In [33]:
num = [34, 2, 45, 22]
type(num)

list

In [17]:
num.append(88)
print(num)

[34, 2, 45, 22, 88, 88]

In [19]:
num.clear()
print(num)

[]

In [22]:
#I ran num.append three times and the numbers were added for a thrid time! Watch out for this... 
num.append([34, 2, 45, 22])
print(num)

[[34, 2, 45, 22], [34, 2, 45, 22], [34, 2, 45, 22]]

In [31]:
del num[1]
print(num)

[[34, 2, 45, 22]]

In [36]:
num.sort() #from lowest to highest
print(num)

[2, 22, 34, 45]

In [35]:
num.reverse()
print(num)

[45, 34, 22, 2]

In [38]:
num.insert(2, 200)
print(num)

[2, 22, 200, 200, 34, 45]

In [41]:
num.remove(200)
num.insert(0, 2)
print(num)

[2, 22, 34, 45]

In [42]:
items = ["car", "robots", "ball"]
items
items[0] = "ps4"
items

['ps4', 'robots', 'ball']

In [44]:
items.append(num)
items

['ps4', 'robots', 'ball', [2, 22, 34, 45]]

In [47]:
#inserting a value inside the nested list
items[3].insert(3, ["hey"])
items

['ps4', 'robots', 'ball', [2, 22, 34, ['hey'], 45]]

In [50]:
type(items[3][3][0])

str

items.append(num)
items