In [2]:
#index, slicing and stride
#both spilt and join menthods which perform opposing operations
#the 'slice' built-in python function
#membership operator 'in' and inverse boolean operator 'not'

#indexing
greeting = "Hello World"
greeting[0]
#output: 'H'

#slicing
greeting[6:]
#output:'World'

#stride
letters = 'abcdef'
letters[1:2]
'bdf'

'bdf'

In [52]:
robot = 'technologically'
consoles = 'ps4 is cooler than xbox!'
code = "p1y2t3h4o5n6i7c8"
words = 'I saw a cat jump over the moon and into the clouds'
new_words = 'I saw a cow fly over the gate and into the forest'
pay = 'I recieved a total of £500 for that website'

In [12]:
len(robot) #len starts at 1. Indexing starts at 0
robot[0:6] #this is a slice. When doing slicing the last number isn't included.
robot[6:]
robot[6:13] 
robot[10:14]

'call'

In [24]:
consoles.endswith("!") #output is a boolean
len(consoles)
consoles[23]
consoles.find("4")
consoles[7:13]
consoles[-1]
consoles[-17:-11] #negative indexing

'cooler'

In [35]:
code.replace("1", "").replace("2", "") #completely inefficient
code[0::2].upper() #slice. Outputs every other item starting at 0.
code[1::2] #as above, but the numbers rather than the letters in code
code[1::2][::-1] #second part reverses the numbers. 
code[1::2][::-2] #reverses but takes every second number

'8642'

In [43]:
var = words.split()
len(var)
var[3:8:2]

['cat', 'over', 'moon']

In [46]:
sl = slice(3, 12, 2)
new_words.split()[sl]

['cow', 'over', 'gate', 'into', 'forest']

In [47]:
var[sl]

['cat', 'over', 'moon', 'into', 'clouds']

In [50]:
print(var) #output: list
" ".join(var)

['I', 'saw', 'a', 'cat', 'jump', 'over', 'the', 'moon', 'and', 'into', 'the', 'clouds']

'I saw a cat jump over the moon and into the clouds'

In [55]:
pay.split("£")[1]

'500 for that website'