In [1]:
#for loops (lists, tuples and dictionaries)

#for loops iterate iver elements from a sequence (list, tuple or dictionary)
#outputs all the elements from the sequence

In [2]:
for i in range(4):
    print(i)

0
1
2
3

In [3]:
for greeting in range(4):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World

In [5]:
cats = ["tiger", "lion", "jaguar", "leopard"]
for cat in cats:
    print(cat)

tiger
lion
jaguar
leopard

In [6]:
for num in range(4):
    print(num, num + 30, num * num)

0 30 0
1 31 1
2 32 4
3 33 9

In [3]:
nest1 = [[10, 20 , 30], [3.5, 4.5, 5.5], ["sword", "hammer", "shield"]]

for i in range(3):
    print(nest1[i])

[10, 20, 30]
[3.5, 4.5, 5.5]
['sword', 'hammer', 'shield']

In [8]:
weapons = []
for i in range(3):
    res = nest1[0][i] + nest1[1][i]
    
    print(nest1[2][i].capitalize() + ": Power Level =", res)

Sword: Power Level = 13.5
Hammer: Power Level = 24.5
Shield: Power Level = 35.5

In [6]:
weapons = []
for i in range(3):
    s = nest1[2][i].capitalize() + ": Power Level = " + str(nest1[0][i] + nest1[1][i])
    weapons.append(s)
weapons

['Sword: Power Level = 13.5',
 'Hammer: Power Level = 24.5',
 'Shield: Power Level = 35.5']

In [9]:
for i in range(1, 8): 
    print("{} + {} = {}".format(i, i, (i * i)))

1 + 1 = 1
2 + 2 = 4
3 + 3 = 9
4 + 4 = 16
5 + 5 = 25
6 + 6 = 36
7 + 7 = 49

In [10]:
for k in range(1, 8):
    print("%d * %d = %d" % (k, k, k*k))

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49

In [12]:
tup1 = ((10, 20), ("a", "b"), (200, 400))

for t in tup1: 
    print(t)

(10, 20)
('a', 'b')
(200, 400)

In [14]:
tup1 = ((10, 20), ("a", "b"), (200, 400))

#TUPLE UNPACKING! If we add in another value to the tuple it throws an error: ValueError: too many values to unpack. 
#you would need to add another value to the loop (see next box)
for x, y in tup1: 
    print(x, y)

10 20
a b
200 400

In [15]:
tup1 = ((10, 20, 30), ("a", "b", "c"), (200, 400, 600))

#TUPLE UNPACKING! 
for x, y, z in tup1: 
    print(x, y, z)

10 20 30
a b c
200 400 600

In [18]:
tup1 = ((10, 20, 30), ("a", "b", "c"), (200, 400, 600))

#NESTED FOR LOOP
for i in range(2): 
    for x, y, z in tup1: 
        print(x, y, z)

10 20 30
a b c
200 400 600
10 20 30
a b c
200 400 600

In [20]:
cakes = ["chocolate", "lemon", "carrot", "vanilla"]
d1 = {"k1": cakes, "k2": [10, 20, 30, 40]}

#for loop using a dictionary
for d in d1["k1"]:
    print(d)

chocolate
lemon
carrot
vanilla